<nav class="navbar is-transparent columns">
    
    <div class="columns column is-12 navbar-item">
        <div class="column is-1">
            <a class="navbar-item" href="https://bulma.io">
                <img src="resources/branding/chakra.png" alt="Bulma: a modern CSS framework based on Flexbox">
            </a>
        </div>
        <div class="column is-6">
            <div class="field" style="width:550px">
                <p class="control has-icons-right is-expanded">
                    <input class="input" type="text" placeholder="Search" ng-model="searchText">

                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                </p>
            </div>

        </div>
        <div class="column is-5">
            <div class="field is-grouped is-pulled-right">
                <p class="control">
                    <a class="bd-tw-button button" data-social-network="Twitter" target="_blank">
                        <span class="icon" style="color:orange">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>
                            Open Online Store
                        </span>
                    </a>
                </p>
                <p class="control">
                    <a class="button">
                        <span class="icon" style="color:orange">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                        <span>Post Your Ad</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
