<div class="columns">
    <div class="column is-12">
        <section class="hero is-small  is-bold">
            <div class="hero-body">

                <div class="tile is-ancestor">
                    <div class="tile is-8">
                        <div class="tile">
                            <div class="tile is-parent is-4">
                                <article class="tile is-child notification ">

                                    <figure class="image is-1by1">
                                        <img src="resources/branding/biz-logo.jpg">
                                    </figure>
                                </article>
                            </div>

                            <div class="tile is-parent is-vertical is-8">
                                <article class="tile is-child notification ">
                                    <p class="is-size-5">Pasco Lanka Sweet House and Hotel School Pvt Ltd</p>
                                    <p class="is-size-6">102/16/c, Muthuhena Road , Meegoda</p>
                                </article>
                                <article class="tile is-child notification is-warning">
                                    <p class="title">...tiles</p>
                                    <p class="subtitle">Bottom tile</p>
                                </article>
                            </div>
                        </div>

                    </div>
                    <div class="tile is-parent is-4">
                        <article class="tile is-child notification is-success">
                            <div class="content">
                                <p class="title">Tall tile</p>
                                <p class="subtitle">With even more content</p>
                                <div class="content">
                                    <!-- Content -->
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </section>
    </div>

</div>

<section class="hero is-small  is-bold">
    <div class="hero-body">
        <div ui-view></div>
    </div>
</section>


<footer class="footer">
    <div class="tile is-ancestor">
        <div class="tile is-8">
            <div class="tile">
                <div class="tile is-parent is-4">
                    <article class="tile is-child notification ">

                        <figure class="image is-1by1">
                            <img src="resources/branding/biz-logo.jpg">
                        </figure>
                    </article>
                </div>

                <div class="tile is-parent is-vertical is-8">
                    <article class="tile is-child notification ">
                        <p class="is-size-5">Pasco Lanka Sweet House and Hotel School Pvt Ltd</p>
                        <p class="is-size-6">102/16/c, Muthuhena Road , Meegoda</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">...tiles</p>
                        <p class="subtitle">Bottom tile</p>
                    </article>
                </div>
            </div>

        </div>
        <div class="tile is-parent is-4">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Tall tile</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>
    </div>
</footer>