<md-list>
    <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>
    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <br/>
    <md-divider md-inset></md-divider>
    <br/>
    <md-list-item class="md-3-line" ng-click="null">
        <img ng-src="resources/img/login-avatar.png" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text" layout="column">
            <div layout=row>
                <div flex="40">
                    <h2>iPhone 8</h2>
                    <h4> by Rajitha Dissanayake</h4>
                    <div layout="row">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
                <div flex="30">
                    <center>
                        <h1 class="is-size-2" style="color: orangered">4.5</h1>
                        <h5>Cumilative Rating</h5>
                    </center>

                </div>
            </div>


        </div>

        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
            <i class="material-icons">comment</i>
        </md-button>

    </md-list-item>

    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li>
                <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page 2">2</a>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page 3">3</a>
            </li>
        </ul>
    </nav>

</md-list>