<div class="columns">
    <div class="column is-12">
        <div class="steps" id="stepsDemo">
            <div class="step-item is-active is-success">
                <div class="step-marker">1</div>
                <div class="step-details">
                    <p class="step-title">Select Category</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">2</div>
                <div class="step-details">
                    <p class="step-title">Enter Details</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                    <p class="step-title">Verify</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-12">
        <div ui-view></div>
    </div>
</div>
