<div class="columns">
    <div class="column is-3">
        <figure>
            <p class="image">
                <img src={{result.imageReferences[0]}}>
            </p>
        </figure>
    </div>
    <div class="column is-9">
        <div>
            <div class="columns">
                <div class="column is-12">
                    <p class="is-size-5-desktop">{{result.title}}</p>
                    <!-- <p class="is-inline">From Kottawa,Colombo </p> -->
                    <!-- <div class="is-inline">
                        <div class="tags has-addons">
                            <span class="tag" style="background-color:peachpuff">Rajitha Dissanayake </span>
                            <span class="tag is-primary">Kottawa,Colombo</span>
                        </div>
                    </div> -->
                    <!-- <div class="is-inline">
                            <span class="tag is-warning is-inline">Brand New</span>
                    </div> -->

                </div>
            </div>
            <div class="columns">
                <div class="column is-9 is-vertical-paddingless">

                    <!-- <p class="is-inline">From Kottawa,Colombo </p> -->
                    <div class="is-inline">
                        <div class="tags has-addons">
                            <span class="tag" style="background-color:peachpuff">Rajitha Dissanayake </span>
                            <span class="tag is-primary">Kottawa,Colombo</span>
                        </div>
                    </div>


                </div>
                <div class="column is-3 is-vertical-paddingless">

                    <div class="is-inline">
                        <span class="tag is-warning is-inline">Brand New</span>
                    </div>

                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div>
                        <i class="fas fa-info-circle is-inline"></i>
                        <span class="is-inline is-size-6-desktop"> Automatic Transmission</span>
                    </div>
                    <div>
                        <i class="fas fa-info-circle is-inline"></i>
                        <span class="is-inline is-size-6-desktop"> Automatic Transmission</span>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="is-size-5-desktop is-inline">Rs</div>
                    <div class="is-size-4-desktop is-inline">5,800,000</div>
                </div>
            </div>

        </div>

    </div>
</div>



<!-- <article class="media">
    <figure class="media-left">
        <p class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p class="is-size-5-desktop">
                Audi A4 - Automatic 2015
            </p>
        </div>
    </div>
    <div class="media-right">

        <!-- <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item">
                    <span class="icon is-small">
                        <i class="fas fa-reply"></i>
                    </span>
                </a>
                <a class="level-item">
                    <span class="icon is-small">
                        <i class="fas fa-retweet"></i>
                    </span>
                </a>
                <a class="level-item">
                    <span class="icon is-small">
                        <i class="fas fa-heart"></i>
                    </span>
                </a>
            </div>
        </nav> 
</div>
</article> -->